{% extends 'base.html' %}
{% block content %}
<h1>Tame B</h1>
<table class="table table-striped">
	<tr>
		<td>编号</td>
		<td>姓名</td>
		<td>性别</td>
		<td>年龄</td>
		<td>民族</td>
		<td>籍贯</td>
		<td>入司日期</td>
	</tr>
	<tr>
		<td>1</td>
		<td>李雷</td>
		<td>男</td>
		<td>25</td>
		<td>汉</td>
		<td>安徽铜陵</td>
		<td>2010.9.4</td>
	</tr>
	<tr>
		<td>1</td>
		<td>李雷</td>
		<td>男</td>
		<td>25</td>
		<td>汉</td>
		<td>安徽铜陵</td>
		<td>2010.9.4</td>
	</tr>
	<tr>
		<td>1</td>
		<td>李雷</td>
		<td>男</td>
		<td>25</td>
		<td>汉</td>
		<td>安徽铜陵</td>
		<td>2010.9.4</td>
	</tr>
	<tr>
		<td>1</td>
		<td>李雷</td>
		<td>男</td>
		<td>25</td>
		<td>汉</td>
		<td>安徽铜陵</td>
		<td>2010.9.4</td>
	</tr>
	<tr>
		<td>1</td>
		<td>李雷</td>
		<td>男</td>
		<td>25</td>
		<td>汉</td>
		<td>安徽铜陵</td>
		<td>2010.9.4</td>
	</tr>
	<tr>
		<td>1</td>
		<td>李雷</td>
		<td>男</td>
		<td>25</td>
		<td>汉</td>
		<td>安徽铜陵</td>
		<td>2010.9.4</td>
	</tr>
	<tr>
		<td>1</td>
		<td>李雷</td>
		<td>男</td>
		<td>25</td>
		<td>汉</td>
		<td>安徽铜陵</td>
		<td>2010.9.4</td>
	</tr>
	<tr>
		<td>1</td>
		<td>李雷</td>
		<td>男</td>
		<td>25</td>
		<td>汉</td>
		<td>安徽铜陵</td>
		<td>2010.9.4</td>
	</tr>
	<tr>
		<td>1</td>
		<td>李雷</td>
		<td>男</td>
		<td>25</td>
		<td>汉</td>
		<td>安徽铜陵</td>
		<td>2010.9.4</td>
	</tr>
	<tr>
		<td>1</td>
		<td>李雷</td>
		<td>男</td>
		<td>25</td>
		<td>汉</td>
		<td>安徽铜陵</td>
		<td>2010.9.4</td>
	</tr>
	<tr>
		<td>1</td>
		<td>李雷</td>
		<td>男</td>
		<td>25</td>
		<td>汉</td>
		<td>安徽铜陵</td>
		<td>2010.9.4</td>
	</tr>	
</table>
{% endblock %}