/* workbench.css */
html body {
	padding:0;
	background-color:#dedede;
}

/* 利用尾元素清除浮动 */
.workbench:after {	
	content:'';
	display:block;
	clear:both;
}

.sidebar {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:15%;
	float:left;
	text-align:center;
	color:#fff;
	background-color:#00695c;
	border-right:1px solid #004d40;
	z-index:1000;
	overflow-y:auto;
	overflow-x:hidden;
}

.sidebar .sidebar-brand {
	height:49px;
	line-height:49px;
	border-bottom: 1px solid #006050;
}

.sidebar .sidebar-brand h1,h2,h3,h4,h5,p {
	margin:0;
}

.sidebar .sidebar-brand .desc {
	font-size:90%;
}

.sidebar .sidebar-desc {
	padding:10px 0;
	color:#eee;
	border-bottom: 1px solid #006050;
}

.sidebar .sidebar-desc h1,h2,h3,h4,h5,p {
	margin:0;
}

.sidebar .sidebar-search {
	width:100%;
	padding:10px 15px;
	border-bottom: 1px solid #006050;
}

.sidebar .sidebar-search input {
	width:100%;
	padding: 2px 5px;
	border-radius:2px;
	border:1px solid #4db6ac;
	color:black;
}

.sidebar .sidebar-search input:focus {
	outline:none;
	border:1px solid #ef6c00;
}

.rt-pad {
	float:right;
	width:85%;
}

.rt-pad .padbar-tabbar-content {
	background-color:#fff;
	padding:10px 15px;
	margin:10px 15px;
}

.rt-pad .foot {
	margin:10px 15px;
}

@media(max-width:991px) {
	.sidebar {width:30%;}
	.sidebar .sidebar-brand, .sidebar-desc {display:none;}
	.rt-pad {width:70%;}
	.rt-pad>.padbar {display:none;}
}

/* bootstrap modal 弹出位置 */
.modal.fade.in{
	top:120px;  
}

/* 以下两项处理bootstarp modal页面偏移问题 */
body {
	padding-right: 0px !important;
}

*.modal-open {
		overflow-y: scroll;
		padding-right: 0 !important;
}
